body {
  font-family: "Tahoma";
  background-image: url("assets/img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0px;
}
body > * {
  height: 100%;
  transform: translateY(25%);
}
a:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: Black;
  background-color: transparent;
  text-decoration: underline;
}
#logo {
  max-width: 200px;
  max-height: 200px;
}